body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: monospace;
  font-size: 12px;
  background-color: #eee;
}
#controls{
  /*position: absolute;*/
  background-color: #fff;
  padding: 10px;
  padding-bottom: 5px;
}
#message{
  margin: 10px 15px;
  font-size: 12px;
  font-family: monospace;
  float: left;
}
#parsetime{
  margin: 10px 15px;
  font-size: 12px;
  font-family: monospace;
  float: right;
}
#fileSelect{
  padding: 4px;
}
#input{
  width: 100%;
  text-align: center;
}
.hidden{
  display: none;
}
#stats{
  position: absolute;
  top:0;
  right: 0;
}
input[type='button']{
  font-family: monospace;
  font-size: 12px;
}
#checkbox{
  margin-top: 10px;
  height: 20px;
}
#checkbox label{
  width: 100px;
}
#checkbox div{
  float: left;
  margin-right: 20px;
}
#sliders{
  margin-top: 10px;
}
.slider{
  margin-bottom: 4px;
}
#numbermodels{
  width: calc(100% - 400px);
}
input[type='range']{
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
